<%= form_for @fixture, url: yield(:form_url) do |f| %>
      <div class="form-header">
        <h2><%= yield :form_title %></h2>
      </div>
      <div class="form-group">
        <%= f.label :opponent, 'Opponent:' %>
        <%= f.text_field :opponent, autocomplete: 'off' %>
      </div>
      <div class="form-group">
        <%= f.label :location, 'Location:' %>
        <%= f.text_field :location, autocomplete: 'off' %>
      </div>
      <div class="form-group fixture-date">
        <%= f.label :match_start, 'Date:' %>
        <%= f.date_select :match_start, { order: [:day, :month, :year] } %>
      </div>
      <div class="form-group fixture-time">
        <%= f.label :match_start, 'Time:' %>
        <%= f.time_select :match_start, { default: { hour: '13', minute: '00'}, time_separator: "" } %>
      </div>
      <div class="form-group">
          <%= f.submit yield(:form_title), class: 'btn' %>
      </div>
    <% end %>
