<div id="signup" class="admin-only admin-form">
  <div class="admin-navbar">
  </div>
  <section class="form">
    <%= form_for @user, url: '/users' do |f| %>
      <div class="form-header">
        <h2>New User</h2>
      </div>
      <div class="form-group">
        <%= f.label :username, 'Username:' %>
        <%= f.text_field :username, autocomplete: 'off' %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Password:'%>
        <%= f.password_field :password %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm Password:'%>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="form-group">
          <%= f.submit 'Sign Up', class: 'btn' %>
      </div>
      <% end %>
  </section>
</div>
