<%= form_for @event, url: yield(:form_url) do |f| %>
      <div class="form-header">
        <h2><%= yield :form_title %></h2>
      </div>
      <div class="form-group">
        <%= f.label :name, 'Name:' %>
        <%= f.text_field :name, autocomplete: 'off' %>
      </div>
      <div class="form-group">
        <%= f.label :date, 'Date:' %>
        <%= f.date_field :date %>
      </div>
      <div class="form-group">
        <%= f.label :location, 'Location:' %>
        <%= f.text_field :location, autocomplete: 'off' %>
      </div>
      <div class="form-group">
        <%= f.label :description, 'Description:' %>
        <%= f.text_area :description, rows: 10 %>
      </div>
      <div class="form-group">
          <%= f.submit yield(:form_title), class: 'btn' %>
      </div>
    <% end %>