<div class="event">
  <h1><%= event.name %></h1>
  <p><%= formatted_date(event.date) %>pm</p>
  <p><%= event.location %></p>
  <p><%= event.description.truncate(300, separator: ' ') %></p>
  <div class="event-btns">
    <%= link_to 'More Info', event_url(event.id) %>
    <% if event.ticketed %>
      <a href="#">Buy Tickets</a>
    <% end %>
  </div>
</div>
