<div id="show-player">
    <section class="title">
    </section>
    <section class="profile">
        <img src="http://via.placeholder.com/200x200" alt="">
        <h1><%= full_name(@player) %></h1>
        <h3><%= @player.role %> - <%= @player.team.ordinalize%> XI</h3>
        <div class="stats">
            <p><span class="key">Runs: </span>42</p>
            <p><span class="key">Wickets: </span>12</p>
            <p><span class="key">Catches: </span>9</p>
        </div>
        <p><%= @player.bio %></p>
        <hr>
    </section>
    <%# <section class="batting">
        <h1>Batting Stats</h1>
    </section>
    <section class="bowling">
        <h1>Bowling Stats</h1>
    </section>
    <section class="fielding">
        <h1>Fielding Stats</h1>
    </section> %>
    <section class="admin-btns">
        <%= link_to 'Edit Player', edit_player_url(@player), class: 'edit-btn'%>
        <%= link_to 'Delete Player', '/players/'+ @player.id.to_s, method: 'delete', class: 'delete-btn' %>
    </section>
</div>
