<header class="navbar">
  <div class="logo">
    <%= link_to 'Whimple CC', '#' %>
  </div>
  <div class="nav-links">
    <ul>
      <li><%= link_to 'Club', '#' %></li>
      <li><%= link_to 'Squads', '#' %></li>
      <li><%= link_to 'Fixtures', '#' %></li>
      <li><%= link_to 'Events', '#' %></li>
      <li><%= link_to 'More', '#' %></li>
    </ul>
  </div>
</header>
