<nav class="navbar">
  <div class="logo">
    <%= link_to 'Whimple CC', root_path %>
  </div>
  <div class="nav-links">
    <ul>
      <li><%= link_to 'History', history_path %></li>
      <li><%= link_to 'Players', players_path %></li>
      <li><%= link_to 'Fixtures', '#' %></li>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'More', '#' %></li>
    </ul>
  </div>
</nav>
