<nav class="navbar">
  <nav class="wrapper">
    <div class="logo">
      <%= link_to 'Whimple CC', root_path %>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'History', history_path %></li>
      <li><%= link_to 'Players', players_path %></li>
      <li><%= link_to 'Fixtures', fixtures_path %></li>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'More', '#' %></li>
      <li class="menu-btn"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>
</nav>
