<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
     <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/smbar' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
